---
const { title, description, src, alt, link } = Astro.props;
---

<section class="resource">
  <a class="img-container" href={link} target="_blank">
    <img src={src} alt={alt} />
  </a>
  <div class="resource-body">
    <h1>{title}</h1>
    <p class="resource-description">{description}</p>
    <a class="link" href={link} target="_blank">Try it now</a>
  </div>
</section>

<style>
  .resource {
    width: 100%;
    border: 1px solid #cbd5e1;
    border-radius: 6px;
    background-color: #fff;
    overflow: hidden;
    height: fit-content;
  }

  .resource-description {
    color: #475569;
    font-size: 14px;
    font-weight: 500;
  }

  .resource-body {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .img-container {
    display: block;
    overflow: hidden;
  }

  .link {
    background: #020617;
    text-decoration: none;
    color: white;
    width: 100%;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 200ms ease-out;
    margin-top: 32px;
    display: flex;
    justify-content: center;
  }

  .link:hover {
    background: #0f172a;
  }

  img {
    display: block;
    max-width: 100%;
    transition: all 200ms ease-out;
  }

  @media (hover: hover) {
    img:hover {
      scale: 1.05;
    }
  }

  h1 {
    font-size: 24px;
  }

  button {
    width: 100%;
    margin-top: 32px;
  }
</style>
